* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
button {
  display: block;
  max-width: 100%;
}

body {
  font: 1.3rem/1.2 "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 3rem;
  background-color: rgb(48, 49, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Gary-ban */

.header::after {
  content: "GARYBAN-S";
  color: cornsilk;
  font-weight: 700;
  font-size: 400%;
  position: absolute;
  top: 25rem;
  left: 25%;
  white-space: nowrap;
  opacity: 0.1;
  z-index: -1;
}

.logo-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-menu img {
  width: 3rem;
  height: auto;
  display: inline-block;
  margin-left: 2rem;
}

.mark {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mark span {
  display: block;
  font-size: 2.2rem;
  padding-left: 6px;
  color: rgb(243, 247, 247);
}

.logo-mark {
  max-width: 100%;
  background-color: inherit;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mark-icon,
.mark-icon::before,
.mark-icon::after {
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
}

.mark-icon::before,
.mark-icon::after {
  content: "";
}

.mark-icon::before {
  transform: translate(-25px, -12px);
}
.mark-icon::after {
  transform: translate(-25px, 12px);
}

.shopping-bag img {
  width: 3rem;
  height: auto;
  padding: 0.5rem;
  margin-right: 1rem;
}

/* main section */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 2rem;
}

.title {
  color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}
.text {
  margin-bottom: 2rem;
}

h1 {
  font-size: 200%;
  padding-bottom: 1rem;
}

.btn {
  display: inline-block;
  background-color: rgb(169, 53, 80);
  border-radius: 3rem;
  opacity: 0.7;
}

.btn a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.btn a:any-link {
  color: rgb(194, 225, 73);
  text-decoration: none;
  font-weight: bold;
}

.btn:hover,
.btn:focus {
  transform: translateX(1px) scale(1.01);
  transition: all 0.3s;
  opacity: 0.9;
}

/* RING-SECTION */

.ring img {
  width: 100%;
  max-width: 580px;
}

#circle-ring {
  padding-left: 130px;
  padding-top: 60px;
}

.ring {
  position: relative;
  width: 400px;
  height: 400px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.ring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff12e;
  border-right: 3px solid #fff12e;
  border-radius: 50%;
  z-index: -1;
  animation: returnCircle 10s linear infinite;
}

@keyframes returnCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* span inside .ring */
.ring .circle {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  z-index: -1;
  animation: return 10s linear infinite;
}

@keyframes return {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/* for dot the top of the span */

.ring .circle:before {
  content: "";
  position: absolute;
  top: -6px;
  right: -9px;
  width: 16px;
  height: 16px;
  background: #fff12e;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff12e;
  z-index: -1;
}

/* div tag for second circle */
.ring-two {
  position: absolute;
  top: 20.5%;
  left: 56.5%;
  width: 500px;
  height: 500px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
}

.ring-two:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #fff12e;
  border-left: 3px solid #fff12e;
  border-radius: 50%;
  animation: returnCircle2 10s linear infinite;
}

@keyframes returnCircle2 {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

/* span inside the .ring-two  */
.ring-two .circle-two {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: return2 10s linear infinite;
}
/* dot for top of the span */
.ring-two .circle-two:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: #fff12e;
  box-shadow: 0 0 20px 1px #fff12e;
  border-radius: 50%;
}

@keyframes return2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
